.form-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.form {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 40px;
    width: 60vw;
}

input {
    width: 100%;
    padding: 8px 8px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    font-size: 15px;
}

input[type=text]:focus, [type=number]:focus{
    outline: 3px solid #FEA92B;
    border: none;
}

input.ng-invalid.ng-touched{
    border: 2px solid red;
}

.price-inputs {
    display: flex;
    width: 100%;
    gap: 20px;
}

#submit {
    color: black;
    background-color: #FEA92B;
    border: none;
    cursor: pointer;
}

#submit:disabled{
    background-color: #fbc16c;
    cursor: not-allowed;

    &&:hover{
        background-color: #fbc16c;
    }
}

#submit:hover {
    background-color: #f9a11b;
}

.input-container{
    width: 100%;
}

small{
    color: red;
}