<div class="primary-container">
    <div class="header">
        <p class="heading">Sell with Amazon</p>
        <p><i class="pi pi-star-fill"></i> Get 10% back on your first $50,000 in branded sales. <a href="">Learn
                more</a></p>
        <p-button label="Sign up" [rounded]="true" [raised]="true" routerLink="/seller-central/login"></p-button>
    </div>

    <div class="hero-section">
        <div class="hero-inner">
            <div class="hero-inner1">
                <h1>Start selling with Amazon</h1>
                <p>The fastest-growing and preferred acquisition channel for over half our multichannel sellers.</p>
                <div class="flex-column">
                    <p-button label="Sign up" [rounded]="true" [raised]="true" routerLink="/seller-central/login"
                        size="large"></p-button>
                    <small>$39.99 a month + selling fees</small>
                </div>
            </div>
            <div class="hero-inner2">
                <img src="/assets/hero-inner2.png" alt="" srcset="">
            </div>
        </div>
    </div>
</div>

<div class="secondary-container">
    <div class="get-started-section">
        <div class="get-started1">
            <img src="https://m.media-amazon.com/images/G/01/sp-marketing-toolkit/guides/design/illustration/LoFi/HL-NSI-02-Tall.png"
                alt="Image">
        </div>
        <div class="get-started2">
            <div class="chip">
                <i class="pi pi-star-fill"></i>
                <p>New Seller Incentives</p>
            </div>
            <h2>Get started with $50,000 in incentives</h2>
            <p>Ready to sell with Amazon? As a new seller, you can take advantage of a series of incentives.</p>
            <div class="check-points">
                <div class="point">
                    <i class="pi pi-check"></i>
                    <p>10% back on your first $50,000 in branded sales, then 5% back through your first year until you
                        reach $1,000,000</p>
                </div>
                <div class="point">
                    <i class="pi pi-check"></i>
                    <p>$100 off shipments into the Amazon fulfillment network using the Amazon Partnered Carrier program
                    </p>
                </div>
                <div class="point">
                    <i class="pi pi-check"></i>
                    <p>Free storage and customer returns with auto-enrollment in the FBA New Selection program</p>
                </div>
                <div class="point">
                    <i class="pi pi-check"></i>
                    <p>$50 credit to create Sponsored Products or Sponsored Brands ads</p>
                </div>
            </div>
            <a href="">See all incentives <i class="pi pi-arrow-up-right"></i></a>
        </div>
    </div>

    <div class="case-studies-section">

        <h2>Brand case studies</h2>
        <div class="cards">
            <p-card header="Freshly Picked" subheader="Case study">
                <ng-template pTemplate="header">
                    <img alt="Card"
                        src="https://m.media-amazon.com/images/G/01/sell/images/posters/freshly-picked-03-sm.jpg" />
                </ng-template>
                <p>
                    Freshly Picked sells high-end shoes and
                    accessories for babies, children and their moms
                    to help make life a little more fun, colorful and
                    easier.
                </p>
            </p-card>

            <p-card header="Hope & Henry" subheader="Case study">
                <ng-template pTemplate="header">
                    <img alt="Card"
                        src="https://m.media-amazon.com/images/G/01/sell/images/posters/hope-and-henry-03-sm.jpg" />
                </ng-template>
                <p>
                    Hope & Henry sells beautiful, high-quality, and
                    affordable clothing using organic cotton and
                    sharing profits with the women and men who
                    sew them.
                </p>
            </p-card>

            <p-card header="New Republic" subheader="Case study">
                <ng-template pTemplate="header">
                    <img alt="Card"
                        src="https://m.media-amazon.com/images/G/01/sell/images/posters/new-republic-02-sm.jpg" />
                </ng-template>
                <p>
                    New Republic sells refined styles of men's
                    footwear and accessories that incorporate
                    unexpected twists on memorable classics at
                    affordable prices.
                </p>
            </p-card>

        </div>

    </div>

    <div class="start-selling-section">

        <div class="selling-wrapper">
            <div class="sss-1">
                <h2>Start selling today</h2>
                <p>Put your products in front of the millions of customers who search Amazon.com every day.</p>
                <div class="flex-column">
                    <p-button label="Sign up" [rounded]="true" [raised]="true" routerLink="/seller-central/login"
                        size="large"></p-button>
                    <small>$39.99 a month + selling fees</small>
                </div>
            </div>
            <div class="sss-2">
                <img src="https://m.media-amazon.com/images/G/01/sell/images/prime-boxes/prime-boxes-6-sm.png" alt=""
                    srcset="">
            </div>
        </div>
    </div>
</div>