.container{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button{
    width: auto;
    padding: 10px 20px;
    color:black;
    background-color: #F2941B;
    border-radius: 5px;
    border: 2px solid black;

    &&:hover{
        background-color: #f9ac48;
    }

    a{
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
    }
}

.all-products{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-slab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
}

.table{
    width: 100%;
    text-align: center;
}

.card{
    background: var(--surface-card);
    border: 1px solid lightgrey;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin: 20px;
}